.contain{
    height: 400px;
    width: 300px;
    background-color: rgb(193, 167, 253);
    text-align: center;
    padding: 50px 30px 0px 30px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    position: absolute;
    top:10%;
    left:36%;
}
#text{
    padding: 9px;
    width: 90%;
}
#btn{
    color: rgb(0, 255, 34);
    font-size: 16px;
    background-color: rgb(70, 9, 88);
    border: none;
    padding: 8.5px;
    top:10px;
    position: relative;
}
#qrimg{
    padding: 20px;
    width: 130px;
    position: relative;
    left: 9%;
    right: auto;
}